<section class="vbox">
  <section class="w-f scrollable">
    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

      <!-- nav -->
      <nav class="nav-primary hidden-xs">
        <ul class="nav">
          <li>
            <a href="profile">
              <i class="fa fa-dashboard icon">
                <b class="bg-danger"></b>
              </i>
              <span class="pull-right">
                <i class="fa text"></i>
                <i class="fa text-active"></i>
              </span>
              <span>Home</span>
            </a>
          </li>
          <li >
            <a href="getting-started"  >
              <i class="fa fa-columns icon">
                <b class="bg-warning"></b>
              </i>
              <span>Getting Started</span>
            </a>
          </li>
          <li >
            <a href="#uikit"  >
              <i class="fa fa-book icon">
                <b class="bg-success"></b>
              </i>
              <span class="pull-right">
                <i class="fa fa-angle-down text"></i>
                <i class="fa fa-angle-up text-active"></i>
              </span>
              <span>Case Prep</span>
            </a>
            <ul class="nav lt">
              <li >
                <a href="structuring" >
                  <i class="fa fa-angle-right"></i>
                  <span>Structuring</span>
                </a>
              </li>
              <li >
                <a href="qualitative-analysis" >
                  <i class="fa fa-angle-right"></i>
                  <span>Qualitative analysis</span>
                </a>
              </li>
              <li >
                <a href="quantitative-analysis" >
                  <i class="fa fa-angle-right"></i>
                  <span>Quantitative analysis</span>
                </a>
              </li>
              <li >
                <a href="math" >
                  <i class="fa fa-angle-right"></i>
                  <span>Mental math</span>
                </a>
              </li>
              <li >
                <a href="ideation" >
                  <i class="fa fa-angle-right"></i>
                  <span>Ideation</span>
                </a>
              </li>
              <li >
                <a href="full-case" >
                  <i class="fa fa-angle-right"></i>
                  <span>Full case</span>
                </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="#pages"  >
              <i class="fa fa-quote-left icon">
                <b class="bg-info"></b>
              </i>
              <span class="pull-right">
                <i class="fa fa-angle-down text"></i>
                <i class="fa fa-angle-up text-active"></i>
              </span>
              <span>Behavioural Prep</span>
            </a>
            <ul class="nav lt">
              <li>
                <a href="story-planning">
                  <i class="fa fa-angle-right"></i>
                  <span>Plan and prepare</span>
                </a>
              </li>
              <li>
                <a href="behavioural-practice" >
                  <i class="fa fa-angle-right"></i>
                  <span>Practice</span>
                </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="interview-me"  >
              <i class="fa fa-user icon">
                <b class="bg-dark"></b>
              </i>
              <span>Interview Me</span>
            </a>
          </li>
          <li >
            <a href="expert-call"  >
              <i class="fa fa-phone icon">
                <b class="bg-primary dker"></b>
              </i>
              <span>Expert prep calls</span>
            </a>
          </li>
          <li >
            <a href="expert-review"  >
              <i class="fa fa-file-text icon">
                <b class="bg-danger"></b>
              </i>
              <span>Expert app review</span>
            </a>
          </li>
          <li >
            <a href="buddy-finder"  >
              <i class="fa fa-globe icon">
                <b class="bg-warning"></b>
              </i>
              <span>Find a case buddy</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- / nav -->
    </div>
  </section>

  <footer class="footer lt hidden-xs b-t b-light">
    <div id="chat" class="dropup">
      <section class="dropdown-menu on aside-md m-l-n">
        <section class="panel bg-white">
          <header class="panel-heading b-b b-light">Active chats</header>
          <div class="panel-body animated fadeInRight">
            <p class="text-sm">No active chats.</p>
            <p><a href="#" class="btn btn-sm btn-default">Start a chat</a></p>
          </div>
        </section>
      </section>
    </div>
    <div id="invite" class="dropup">
      <section class="dropdown-menu on aside-md m-l-n">
        <section class="panel bg-white">
          <header class="panel-heading b-b b-light">
            John <i class="fa fa-circle text-success"></i>
          </header>
          <div class="panel-body animated fadeInRight">
            <p class="text-sm">No contacts in your lists.</p>
            <p><a href="#" class="btn btn-sm btn-facebook"><i class="fa fa-fw fa-facebook"></i> Invite from Facebook</a></p>
          </div>
        </section>
      </section>
    </div>
    <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-light btn-icon">
      <i class="fa fa-angle-left text"></i>
      <i class="fa fa-angle-right text-active"></i>
    </a>
    <div class="btn-group hidden-nav-xs">
      <button type="button" title="Chats" class="btn btn-icon btn-sm btn-light" data-toggle="dropdown" data-target="#chat"><i class="fa fa-comment-o"></i></button>
      <button type="button" title="Contacts" class="btn btn-icon btn-sm btn-light" data-toggle="dropdown" data-target="#invite"><i class="fa fa-facebook"></i></button>
    </div>
  </footer>
</section>
